<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="information">
            <h2><span jhiTranslate="lineTakeoutClientApp.information.detail.title">Information</span> {{ information.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="lineTakeoutClientApp.information.key">Key</span></dt>
                <dd>
                    <span>{{ information.key }}</span>
                </dd>
                <dt><span jhiTranslate="lineTakeoutClientApp.information.value">Value</span></dt>
                <dd>
                    <span>{{ information.value }}</span>
                </dd>
                <dt><span jhiTranslate="lineTakeoutClientApp.information.createdBy">Created By</span></dt>
                <dd>
                    <span>{{ information.createdBy }}</span>
                </dd>
                <dt><span jhiTranslate="lineTakeoutClientApp.information.createdDate">Created Date</span></dt>
                <dd>
                    <span>{{ information.createdDate }}</span>
                </dd>
                <dt><span jhiTranslate="lineTakeoutClientApp.information.lastModifiedBy">Last Modified By</span></dt>
                <dd>
                    <span>{{ information.lastModifiedBy }}</span>
                </dd>
                <dt><span jhiTranslate="lineTakeoutClientApp.information.lastModifiedDate">Last Modified Date</span></dt>
                <dd>
                    <span>{{ information.lastModifiedDate }}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/information', information.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
