<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="ordered">
            <h2><span jhiTranslate="lineTakeoutClientApp.ordered.detail.title">Ordered</span> {{ ordered.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="lineTakeoutClientApp.ordered.orderId">Order Id</span></dt>
                <dd>
                    <span>{{ ordered.orderId }}</span>
                </dd>
                <dt><span jhiTranslate="lineTakeoutClientApp.ordered.quantity">Quantity</span></dt>
                <dd>
                    <span>{{ ordered.quantity }}</span>
                </dd>
                <dt><span jhiTranslate="lineTakeoutClientApp.ordered.unitPrice">Unit Price</span></dt>
                <dd>
                    <span>{{ ordered.unitPrice }}</span>
                </dd>
                <dt><span jhiTranslate="lineTakeoutClientApp.ordered.totalFee">Total Fee</span></dt>
                <dd>
                    <span>{{ ordered.totalFee }}</span>
                </dd>
                <dt><span jhiTranslate="lineTakeoutClientApp.ordered.deliveryState">Delivery State</span></dt>
                <dd>
                    <span jhiTranslate="{{ 'lineTakeoutClientApp.DeliveryState.' + ordered.deliveryState }}">{{ ordered.deliveryState }}</span>
                </dd>
                <dt><span jhiTranslate="lineTakeoutClientApp.ordered.deliveryDate">Delivery Date</span></dt>
                <dd>
                    <span>{{ ordered.deliveryDate }}</span>
                </dd>
                <dt><span jhiTranslate="lineTakeoutClientApp.ordered.createdBy">Created By</span></dt>
                <dd>
                    <span>{{ ordered.createdBy }}</span>
                </dd>
                <dt><span jhiTranslate="lineTakeoutClientApp.ordered.createdDate">Created Date</span></dt>
                <dd>
                    <span>{{ ordered.createdDate }}</span>
                </dd>
                <dt><span jhiTranslate="lineTakeoutClientApp.ordered.lastModifiedBy">Last Modified By</span></dt>
                <dd>
                    <span>{{ ordered.lastModifiedBy }}</span>
                </dd>
                <dt><span jhiTranslate="lineTakeoutClientApp.ordered.lastModifiedDate">Last Modified Date</span></dt>
                <dd>
                    <span>{{ ordered.lastModifiedDate }}</span>
                </dd>
                <dt><span jhiTranslate="lineTakeoutClientApp.ordered.customer">Customer</span></dt>
                <dd>
                    <div *ngIf="ordered.customerId">
                        <a [routerLink]="['/customer', ordered.customerId, 'view']">{{ ordered.customerId }}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="lineTakeoutClientApp.ordered.item">Item</span></dt>
                <dd>
                    <div *ngIf="ordered.itemId">
                        <a [routerLink]="['/item', ordered.itemId, 'view']">{{ ordered.itemId }}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="lineTakeoutClientApp.ordered.orderItem">Order Item</span></dt>
                <dd>
                    <span *ngFor="let orderItem of ordered.orderItems; let last = last">
                        <a [routerLink]="['/order-item', orderItem?.id, 'view']">{{ orderItem.id }}</a>{{ last ? '' : ', ' }}
                    </span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/ordered', ordered.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
