<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="pay">
            <h2><span jhiTranslate="lineTakeoutClientApp.pay.detail.title">Pay</span> {{ pay.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="lineTakeoutClientApp.pay.transactionId">Transaction Id</span></dt>
                <dd>
                    <span>{{ pay.transactionId }}</span>
                </dd>
                <dt><span jhiTranslate="lineTakeoutClientApp.pay.title">Title</span></dt>
                <dd>
                    <span>{{ pay.title }}</span>
                </dd>
                <dt><span jhiTranslate="lineTakeoutClientApp.pay.payState">Pay State</span></dt>
                <dd>
                    <span jhiTranslate="{{ 'lineTakeoutClientApp.PayState.' + pay.payState }}">{{ pay.payState }}</span>
                </dd>
                <dt><span jhiTranslate="lineTakeoutClientApp.pay.deliveryState">Delivery State</span></dt>
                <dd>
                    <span jhiTranslate="{{ 'lineTakeoutClientApp.DeliveryState.' + pay.deliveryState }}">{{ pay.deliveryState }}</span>
                </dd>
                <dt><span jhiTranslate="lineTakeoutClientApp.pay.paidDate">Paid Date</span></dt>
                <dd>
                    <span>{{ pay.paidDate }}</span>
                </dd>
                <dt><span jhiTranslate="lineTakeoutClientApp.pay.deliveryDate">Delivery Date</span></dt>
                <dd>
                    <span>{{ pay.deliveryDate }}</span>
                </dd>
                <dt><span jhiTranslate="lineTakeoutClientApp.pay.amount">Amount</span></dt>
                <dd>
                    <span>{{ pay.amount }}</span>
                </dd>
                <dt><span jhiTranslate="lineTakeoutClientApp.pay.currency">Currency</span></dt>
                <dd>
                    <span>{{ pay.currency }}</span>
                </dd>
                <dt><span jhiTranslate="lineTakeoutClientApp.pay.createdBy">Created By</span></dt>
                <dd>
                    <span>{{ pay.createdBy }}</span>
                </dd>
                <dt><span jhiTranslate="lineTakeoutClientApp.pay.createdDate">Created Date</span></dt>
                <dd>
                    <span>{{ pay.createdDate }}</span>
                </dd>
                <dt><span jhiTranslate="lineTakeoutClientApp.pay.lastModifiedBy">Last Modified By</span></dt>
                <dd>
                    <span>{{ pay.lastModifiedBy }}</span>
                </dd>
                <dt><span jhiTranslate="lineTakeoutClientApp.pay.lastModifiedDate">Last Modified Date</span></dt>
                <dd>
                    <span>{{ pay.lastModifiedDate }}</span>
                </dd>
                <dt><span jhiTranslate="lineTakeoutClientApp.pay.customer">Customer</span></dt>
                <dd>
                    <div *ngIf="pay.customerId">
                        <a [routerLink]="['/customer', pay.customerId, 'view']">{{ pay.customerId }}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="lineTakeoutClientApp.pay.ordered">Ordered</span></dt>
                <dd>
                    <div *ngIf="pay.orderedId">
                        <a [routerLink]="['/ordered', pay.orderedId, 'view']">{{ pay.orderedId }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/pay', pay.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
