<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="orderItem">
            <h2><span jhiTranslate="lineTakeoutClientApp.orderItem.detail.title">Order Item</span> {{ orderItem.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="lineTakeoutClientApp.orderItem.name">Name</span></dt>
                <dd>
                    <span>{{ orderItem.name }}</span>
                </dd>
                <dt><span jhiTranslate="lineTakeoutClientApp.orderItem.price">Price</span></dt>
                <dd>
                    <span>{{ orderItem.price | currency : 'JPY' }}</span>
                </dd>
                <dt><span jhiTranslate="lineTakeoutClientApp.orderItem.quantity">Quantity</span></dt>
                <dd>
                    <span>{{ orderItem.quantity }}</span>
                </dd>
                <dt><span jhiTranslate="lineTakeoutClientApp.orderItem.totalFee">Total Fee</span></dt>
                <dd>
                    <span>{{ orderItem.totalFee | currency : 'JPY' }}</span>
                </dd>
                <dt><span jhiTranslate="global.field.createdBy">Created By</span></dt>
                <dd>
                    <span>{{ orderItem.createdBy }}</span>
                </dd>
                <dt><span jhiTranslate="global.field.createdDate">Created Date</span></dt>
                <dd>
                    <span>{{ orderItem.createdDate | date: 'medium' : 'JST' }}</span>
                </dd>
                <dt><span jhiTranslate="global.field.lastModifiedBy">Last Modified By</span></dt>
                <dd>
                    <span>{{ orderItem.lastModifiedBy }}</span>
                </dd>
                <dt><span jhiTranslate="global.field.lastModifiedDate">Last Modified Date</span></dt>
                <dd>
                    <span>{{ orderItem.lastModifiedDate | date: 'medium' : 'JST' }}</span>
                </dd>
                <dt><span jhiTranslate="lineTakeoutClientApp.orderItem.ordered">Ordered</span></dt>
                <dd>
                    <div *ngIf="orderItem.orderedId">
                        <a [routerLink]="['/ordered', orderItem.orderedId, 'view']">{{ orderItem.orderedId }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/order-item', orderItem.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
